* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tooltip container */
[data-tooltip] {
    position: relative;
    // display: inline-block;
}

/* Tooltip text */
[data-tooltip]:hover::before {
    pointer-events: none;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 5px;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    z-index: 10;
}
